body {
    background-color: #00116e;
    background-image: url('TicTacToeWallpaper.jpg');
    background-size: cover;
    background-position: center;

    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
    padding: 10px;
    background-color: #0000005e;
    border: 1px solid aliceblue;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    color: #ffffffaf;
    font-family: Franklin Gothic;
    font-weight: 600;
    font-size: large;
}

.gameboard {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    width: fit-content;
    height: fit-content;
    border: 1px solid aliceblue;
    border-radius: 20px;
    overflow: hidden;
}

.field {
    position: relative;
    border: 1px solid aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.field:hover {
    cursor: pointer;
    background: #004a8326;
}

.X::before,
.X::after {
    content: '';
    position: absolute;
    width: 70%;
    height: 10px;
    background-color: white;
    top: 50%;
    left: 50%;
}

.X:before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.X::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.O::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    border: 10px solid white; 
    width: 50%;
    height: 50%;
    background-color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.hidden {
    display: none;
    visibility: hidden;
}

.gameOver {
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 40%;
    border: 1px solid aliceblue;
    border-radius: 30px;
    background-color: #0000005e;
    backdrop-filter: blur(20px);

    font-family: Franklin Gothic;
    font-weight: 600;
    color: #ffff;
}

.text {
    margin: 20px;
}

.button {
    border: 1px solid #ffffffc2;
    border-radius: 20px;
    background: none;
    backdrop-filter: blur(20px);
    padding: 20px;

    font-family: Franklin Gothic;
    font-weight: 600;
    font-size: large;
    color: #ffffffc2;

    cursor: pointer;
}

.button:hover,
.button:active {
    background: #0032fb6b;
    color: #ffff;
    text-shadow: 2px 2px 10px #ffff;
    box-shadow: 5px 5px 20px 5px #0032fb6b;
}